* {
  font-family: cursive;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 3px 3px 6px 2px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
.header {
  padding: 30px 20px;
  background-color: #df3232;
  width: 240px;
  font-size: 46px;
  color: #eee;
  text-transform: capitalize;
  font-weight: bold;
  text-align: center;
}
.content .day {
  font-size: 86px;
  line-height: 90px;
  font-weight: bold;
  color: #000;
  margin: 10px 0;
}
.content .year,
.content .week-day {
  font-size: 24px;
  font-weight: bold;
  color: #919191;
}
